﻿@model IList<MVCExperiment.Extensions.IModule>

@{
    ViewBag.Title = "Index";
}

@foreach (var module in Model)
{
    <h2>@module.Id</h2>
    
    <table>
        <thead>
            <tr>
                <td>Feature</td>
                <td>Description</td>
                <td>Enabled</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var feature in module.Features)
            {
                <tr>
                    <td>@feature.Id</td>
                    <td>@feature.Description</td>
                    <td>@feature.Enabled</td>
                </tr>
            }
        </tbody>
    </table>
    
}
