﻿@model IList<MVCExperiment.Content.Models.BlogPost>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Published Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var post in Model)
    {
        <tr>
            <td></td>
            <td>@post.Title</td>
            <td>@post.DatePublished.ToString("d MMMM yyyy")</td>
            <td>@post.IsPublished</td>
            <td></td>
        </tr>
    }

    </tbody>
</table>